.body {
    background-color: aqua;
}

.contaner {
    background-color: antiquewhite;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-sec img {
    margin-left: auto;
    padding-left: 50px;
    width: 30px;
    height: 30px;
}

.img img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .body {
        background-color: red;
    }
}

.form {
    margin: 20px;

}

.form1 {
    margin: 20px;

}

.form2 {
    margin: 20px;

}

.form3 {
    margin: 20px;

}