.body {
    background-color: aqua;
}

.contaner {

    background-color: antiquewhite;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Cairo"
}

.head-sec img {
    margin-left: auto;
    padding-left: 50px;
    width: 30px;
    height: 30px;
}

.img img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .body {
        background-color: red;
    }
}

.form {
    margin: 20px;

}

.form1 {
    margin: 20px;

}

.form2 {
    margin: 20px;

}

.form3 {
    margin: 20px;

}

input,
textarea {
    font-family: cairo;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    transition: border 0.5s;
}

input:active {
    border-color: black;

}

textarea:active {

    background-color: black;


}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    font-weight: 400px;
    font-size: 20px;
}

.contact img {
    padding: 20px;
    max-height: 30px;
    background-color: #059669;
    margin-left: 4px;

}